<div id="VueBox">
    <div class="sg-header">
        <div @click="ChangeDBSelect = true" class="filter">
            <span :style="{'color':ChangeDBSelect?'#1aad19':'#3d4245'}">{{DB_CONFIG[DB].DB_FLAG}}</span>
            <i class="iconfont icon-xialajiantou"></i>
        </div>
    </div>
    <div class="drop-select-box">
        <div @click="ChangeDBSelect = false" @touchmove.prevent class="shadow" :style="{'display':ChangeDBSelect?'block':'none'}"></div>
        <div class="select" :style="{'display':ChangeDBSelect?'block':'none'}">
            <div v-for="(v,k) in DB_CONFIG" @click="ChangeDB(k)" class="option" :class="{'selected':k === DB}">
                {{v.DB_FLAG}}
                <i class="iconfont icon-xuanzhong"></i>
            </div>
        </div>
    </div>
    <el-table :data="lists" stripe style="margin: 40px 0 60px;" :height="$(document).height() - 100">
        <el-table-column prop="sn" label="序号"></el-table-column>
        <el-table-column prop="width" label="门幅"></el-table-column>
        <el-table-column prop="paper_code" label="生产纸质" v-if="Number(DB_CONFIG[DB].isnew)"></el-table-column>
        <el-table-column prop="paper" label="生产纸质" v-else></el-table-column>
        <el-table-column prop="flute_type" label="楞别"></el-table-column>
        <el-table-column prop="total_len" label="总长"></el-table-column>
    </el-table>
</div>

<script>
    new Vue({
        el: '#VueBox',
        data: {
            DB: Number('{:session(\'SG_User.DB\')}')?Number('{:session(\'SG_User.DB\')}'):0,
            DB_CONFIG: eval('(' + '{$DB_CONFIG}' + ')'),
            ChangeDBSelect: false,
            lists: null
        },
        methods: {
            search: function () {
                var _this = this;
                _this.lists = null;
                $.ajax({
                    url: '{:U(\'bl_api\')}',
                    type: 'get',
                    data: {DB: _this.DB},
                    beforeSend: function () {
                        _this.$indicator.open();
                    },
                    success: function (respon) {
                        _this.$indicator.close();
                        var respon = eval('(' + respon + ')');
                        if(respon.ret === '{:C(\'succ_ret\')}'){
                            _this.lists = respon.data;
                        }else{
                            $.toast(respon.msg,'forbidden');
                        }
                    }
                });
            },
            ChangeDB: function (k) {
                this.ChangeDBSelect = false;
                this.DB = k;
                this.search();
            }
        },
        mounted: function () {
            this.search();
        }
    });
</script>
